.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

#demoSVG {
    margin-top: 50px;
}

body {
    /*background-color: #00ff00 !important;*/
}

.shape-overlays {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}